:root {
    --main-color: #212121;
    --second-color: #FFFFFF;
    --third-color: #757575;
    --fourth-color: #000000;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --active-btn-color: #188CE8;
    --background-first: #F5F4FA;
    --background: #2F303A;
    --background-main: #F5F5F5;
    --second-font: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--second-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 4px solid tomato;
}

.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.btn {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
    background: var(--accent-color);
    color: var(--second-color);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ----------------------------HEADER ---------------------------------*/
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header .main-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--fourth-color);
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo>span {
    color: var(--accent-color);
}

.header-nav-list {
    display: flex;
    padding: 0;
}

.header-contact-list {
    display: flex;
    padding: 0;
}

.header-nav-item,
.header-contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav-link {
    color: inherit;
}


.header-nav-list .link.current {
    color: var(--accent-color);
}


.header-contact-link {
    color: var(--third-color);
}

/*-------------------------------- HERO--------------------------- */
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--background);
}

.hero-title {
    color: var(--second-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    margin-top: 30px;

    color: var(--second-color);
    background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--active-btn-color);
}

/* ---------------------------BENEFITS---------------------------- */
.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.benefits-item {
    max-width: 270px;
}

.benefits-caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-descr {
    margin-top: 10px;
    color: var(--third-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* -----------------------OCCUPATION------------------- */
.occupation {
    text-align: center;
    padding-bottom: 94px;
}

.occupation-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 50px;

}

/* -------------------------TEAM-------------------------- */

.team {
    background-color: var(--background-first);
    padding: 94px 0;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0;
}

.team-item {
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--second-color);
}

.team-caption {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-descr {
    margin-top: 10px;
    color: var(--third-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* -------------------------FOOTER -------------------------- */
.footer {
    background: var(--background);
}

.footer-logo {
    color: var(--second-color);
}

.footer-list {
    font-style: normal;
}

.footer-address {
    color: var(--second-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-contact-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contact-color);

}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color);
}

/*----------------- PORTFOLIO--------------------- */
.portfolio {
    background-color: inherit;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--background-first);
}

.portfolio-unit {
    background: var(--second-color);
}

.portfolio-unit-link {
    text-decoration: none;
    color: inherit;
}

.portfolio-capture {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-descr {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--third-color);
}